<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary ">View Contact </p>
            <p class="fst-italic"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quisquam in aut provident. Deserunt, ab! Perspiciatis delectus, earum tempore animi excepturi aut alias dolore, deleniti itaque iusto unde provident numquam.
                Temporibus expedita distinctio quia. Quam eum facilis tenetur officia illum omnis aspernatur nam natus error totam iusto vero hic placeat quis facere necessitatibus, voluptatum, ex a distinctio optio. Necessitatibus, inventore.
                Repellendus repudiandae, aut harum sunt beatae dignissimos quo, exercitationem unde nisi temporibus numquam soluta hic impedit! Nesciunt vel placeat nulla veniam eligendi consequuntur modi est, at nemo debitis magni vero.
                Aut nostrum hic quasi cum tempora vero corporis minima ducimus magnam quae laborum tempore modi, maiores sint, laudantium aspernatur ipsam sunt, ipsa doloremque. Asperiores nobis assumenda, facilis quae repellat aperiam? 
            </p>
        </div>
    </div>
</div>
<!-- view contact detail -->

<div class="container">
    <div class="row align-items-center ">
        <div class="col-sm-4">
            <img  class="contact-img-view" src="https://www.wwe.com/f/styles/wwe_large/public/all/2019/10/RAW_06202016rf_1606--3d3997f53e6f3e9277cd5a67fbd8f31f.jpg" alt="img">
        </div>
        <div class="col-sm-7">
            <ul class="list-group">
                <li class=" list-group-item list-group-item-success">Name:
                    <span class="fw-bold">John Cena</span>
                </li>
                <li class=" list-group-item list-group-item-success">Email:
                    <span class="fw-bold">John.cena@gmail.com</span>
                </li>
                <li class=" list-group-item list-group-item-success">Mobile:
                    <span class="fw-bold">6666666666</span>
                </li>
                <li class=" list-group-item list-group-item-success">Company:
                    <span class="fw-bold">John Cena</span>
                </li>
                <li class=" list-group-item list-group-item-success">Title:
                    <span class="fw-bold"> title </span>
                </li>
                <li class=" list-group-item list-group-item-success">Group name:
                    <span class="fw-bold">Random grp</span>
                </li>
            </ul>
        </div>        
    </div>
</div>

<div class="row">
    <div class="col">
        <a routerLink="/" class="btn btn-warning ms-5 mt-4 mx-5 ">Go Back </a>
    </div>
</div>
